<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/stay_on.js"></script>

</head>
<body>

<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    <form method="post" action="/open/table/owner">
        <input type="submit" value="owner table">
    </form>

    <form method="post" action="/open/table/passport">
        <input type="submit" value="passport table">
    </form>

    <form method="post" action="/open/table/inspector">
        <input type="submit" value="inspector table">
    </form>

    <form method="post" action="/open/table/inspection">
        <input type="submit" value="inspection table">
    </form>

    <form method="post" action="/additional_tables">
        <input type="submit" value="additional tables">
    </form>

    <form method="post" action="/inspections_by_date">
        <input type="submit" value="inspections_by_date">
    </form>
</div>

</body>
</html>