<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/stay_on.js"></script>

</head>
<body>

<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    <h1>Data</h1>
</div>


<!--Owner is 0-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[0]}}
    <p>page {{pages[0]}}</p>
    <form method="post" action="/owner/next">
        <input type="hidden" name="next" value="{{pages[0]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/owner/prev">
        <input type="hidden" name="prev" value="{{pages[0]}}">
        <input type="submit" value="prev">
    </form>
</div>

<!--Passport-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[1]}}
    <p>page {{pages[1]}}</p>
    <form method="post" action="/passport/next">
        <input type="hidden" name="next" value="{{pages[1]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/passport/prev">
        <input type="hidden" name="prev" value="{{pages[1]}}">
        <input type="submit" value="prev">
    </form>
</div>

<!--Inspector-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[2]}}
    <p>page {{pages[2]}}</p>
    <form method="post" action="/inspector/next">
        <input type="hidden" name="next" value="{{pages[2]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/inspector/prev">
        <input type="hidden" name="prev" value="{{pages[2]}}">
        <input type="submit" value="prev">
    </form>
</div>

<!--Inspection-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[3]}}
    <p>page {{pages[3]}}</p>
    <form method="post" action="/inspection/next">
        <input type="hidden" name="next" value="{{pages[3]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/inspection/prev">
        <input type="hidden" name="prev" value="{{pages[3]}}">
        <input type="submit" value="prev">
    </form>
</div>

<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    <div style="margin: auto; width: 90%; background: lightcoral; display: flex; flex-direction: column; padding-top: 0.5%">
        <h2>Delete Owner</h2>
        <form method="post" action="/delete_owner">
            <label for="text_owner">Enter id of the owner to delete</label>
            <input type="text" id="text_owner" name="id">
            <input type="submit">
        </form>
    </div>
    <div style="margin: auto; width: 90%; background: lightblue; display: flex; flex-direction: column; padding-top: 0.5%">
        <h2>Add Owner</h2>
        <form method="post" action="/insert_owner">
            <label for="insert_owner_fullName">New owner full name</label>
            <input type="text" id="insert_owner_fullName" name="fullName"><br>
            <label for="insert_owner_address">New owner address</label>
            <input type="text" id="insert_owner_address" name="address"><br>
            <label for="insert_owner_year">New owner year</label>
            <input type="text" id="insert_owner_year" name="year"><br>
            <label for="insert_owner_sex">New owner sex (male/female)</label>
            <input type="text" id="insert_owner_sex" name="sex"><br>
            <label for="insert_owner_license">New owner licence</label>
            <input type="text" id="insert_owner_license" name="license"><br>
            <input type="submit">
        </form>
    </div>
</div>

<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    <form method="post" action="/delete_passport">
        <label for="text_passport">Enter id of the passport to delete</label>
        <input type="text" id="text_passport" name="id">
        <input type="submit">
    </form>
</div>

<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    <form method="post" action="/delete_inspector">
        <label for="text_inspector">Enter id of the inspector to delete</label>
        <input type="text" id="text_inspector" name="id">
        <input type="submit">
    </form>
</div>

<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    <form method="post" action="/delete_inspection">
        <label for="text_inspection">Enter id of the inspection to delete</label>
        <input type="text" id="text_inspection" name="id">
        <input type="submit">
    </form>
</div>


</body>
</html>