<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/stay_on.js"></script>

</head>
<body>

<!--Owner is 0-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[0]}}
    <p>page {{pages[0]}}</p>
    <form method="post" action="/owner/next">
        <input type="hidden" name="next" value="{{pages[0]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/owner/prev">
        <input type="hidden" name="prev" value="{{pages[0]}}">
        <input type="submit" value="prev">
    </form>
</div>

<!--Passport-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[1]}}
    <p>page {{pages[1]}}</p>
    <form method="post" action="/passport/next">
        <input type="hidden" name="next" value="{{pages[1]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/passport/prev">
        <input type="hidden" name="prev" value="{{pages[1]}}">
        <input type="submit" value="prev">
    </form>
</div>

<!--Inspector-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[2]}}
    <p>page {{pages[2]}}</p>
    <form method="post" action="/inspector/next">
        <input type="hidden" name="next" value="{{pages[2]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/inspector/prev">
        <input type="hidden" name="prev" value="{{pages[2]}}">
        <input type="submit" value="prev">
    </form>
</div>

<!--Inspection-->
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[3]}}
    <p>page {{pages[3]}}</p>
    <form method="post" action="/inspection/next">
        <input type="hidden" name="next" value="{{pages[3]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/inspection/prev">
        <input type="hidden" name="prev" value="{{pages[3]}}">
        <input type="submit" value="prev">
    </form>
</div>


</body>
</html>