<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OwnerTable</title>
    <link rel="stylesheet" href="../../static/main.css">
    <script src="../../static/stay_on.js"></script>
</head>
<body>
<div style="margin: auto; width: 50%; display: flex; flex-direction: column; padding-top: 5em">
    {{tables[0]}}
    <p>page {{pages[0]}}</p>
    <form method="post" action="/owner/next">
        <input type="hidden" name="next" value="{{pages[0]}}">
        <input type="submit" value="next">
    </form>

    <form method="post" action="/owner/prev">
        <input type="hidden" name="prev" value="{{pages[0]}}">
        <input type="submit" value="prev">
    </form>

    <form method="post" action="/owner/crud">
        <input type="submit" value="crud">
    </form>

    <form method="post" action="/render/main">
        <input type="submit" value="main">
    </form>
</div>
</body>
</html>